@using Instagram_Clone.Interface
@inject IExerciseService _exerciseservice;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/Images/pixlr-image-generator-458a6518-485b-4637-8964-4b641e7637b3.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true">
    <style>
        .ml-lg-auto {
            margin-left: auto !important;
        }

        #absoluteContainer {
            position: fixed;
        padding:0px;
            max-height: calc(100vh - 150px); 
            overflow: scroll;
            transition: top 0.3s ease; 
        }

            #absoluteContainer.sticky {
                top: 10px; 
            }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 24px;
            color: #333;
            cursor: pointer;
        }

            .close-button:focus {
                outline: none;
            }


        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: black;
            transition: background 0.3s;
            position:relative;
        }

        .absolute-container {
            position: absolute;
            top: 0;
            right: 0;
            width: 0; 
            height: 100%;
            background-color: #09090b;
            transition: width 0.3s ease;
            z-index: 999;
            overflow: auto;
            border-radius: 15px;
        }
            .absolute-container .card {
                background-color: #fff; 
                border: 1px solid #e5e5e5; 
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
                transition: transform 0.2s ease-in-out;
            }

                .absolute-container .card:hover {
                    transform: scale(1.02); 
                }

            .absolute-container .card-body {
                padding: 1rem; 
            }

            .absolute-container .card-title {
                font-weight: bold; 
                font-size: 1.2rem; 
            }

            .absolute-container .card-text {
                line-height: 1.5; 
            }

            

        .close-button {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index:1000;
            background-color: transparent;
            border: none;
            font-size: 25px;
            color: #fff;
            cursor: pointer;
        }


    </style>
</head>
<body class="dark-mode">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" style="border-bottom:2px solid green">
        <div class="container">
            <a class="navbar-brand mr-auto rounded-3" asp-action="Index" asp-controller="Home">
                <img src="~/Images/pixlr-image-generator-458a6518-485b-4637-8964-4b641e7637b3.png" width="90px" height="80px" style="border-radius:12px;" asp-append-version=true />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link mr-3" asp-action="ExercisePage" asp-controller="Exercise">Exercises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-3" asp-action="SubscriptionPage" asp-controller="Subscription">Buy Subscription</a>
                    </li>
                
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="toggleAbsoluteContainer" class="nav-link mr-3" href="#">Saved Workouts</a>

                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link mr-3" asp-action="ProfilePage" asp-controller="Profile"><i class="fas fa-user" style="margin-right:5px;"></i>Profile</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" asp-action="LogOutUser" asp-controller="Account" method="post">
                            <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div id="absoluteContainer" class="absolute-container">

        @foreach (var savedExercise in await _exerciseservice.GetSavedExercises())
        {
            <div class="card mb-3 shadow " style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <!-- Set a fixed height for the image -->
                        <img src="@savedExercise.ExerciseImage" class="img-fluid rounded-3" style="height: 200px;" alt="Exercise Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-2">
                            <h5 class="card-title">@savedExercise.ExerciseName</h5>
                            <p class="card-text text-muted">@savedExercise.ExerciseMainFocus</p>
                            <p class="card-text text-muted">Muscle Group: @savedExercise.MuscleGroup</p>
                            <p class="card-text text-muted">Reps: @savedExercise.ExerciseReps</p>
                            <a asp-action="ExerciseDetailsPage" asp-controller="Exercise" asp-route-ExerciseId="@savedExercise.Id" class="btn btn-info me-3 mb-2">View More</a>

                            <form asp-action="DeleteExercise" asp-controller="Exercise" method="post">
                                <input type="hidden" name="savedExerciseId" value="@savedExercise.Id" />
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

















        <div class="container mx-auto"
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
 
   
    

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-g1jcaZsVN6OgjSOTuYFcA9kgGf5l/bB+7WFsZv5ZPWlW5rR+XVT4p8gYExEtJZM1zTgC5gpiQu1R/RtG6Df2Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleAbsoluteContainerWidth() {
            var container = document.getElementById('absoluteContainer');
            if (container.style.width === '400px') {
                container.style.width = '0';
                container.style.padding = "0"; 
            } else {
                container.style.width = '400px';
                container.style.padding = "15px"; 
            }
        }

        document.getElementById('toggleAbsoluteContainer').addEventListener('click', function (event) {
            event.preventDefault();
            toggleAbsoluteContainerWidth();
        });
        window.addEventListener('scroll', function () {
            var container = document.getElementById('absoluteContainer');
            var threshold = 500; 

            if (window.scrollY > threshold) {
                container.classList.add('sticky');
            } else {
                container.classList.remove('sticky');
            }
        });

     
        var isDragging = false;
        var startX;
        var startY;
        var container = document.getElementById('absoluteContainer');

        container.addEventListener('mousedown', function (event) {
            isDragging = true;
            startX = event.clientX;
            startY = event.clientY;
        });

        container.addEventListener('mousemove', function (event) {
            if (isDragging) {
                var offsetX = event.clientX - startX;
                var offsetY = event.clientY - startY;

                if (offsetX > 50) {
                    container.style.transition = 'width 0.3s ease';
                    container.style.width = '0';
                    container.style.padding = "0";

                    isDragging = false;
                }
            }
        });


        container.addEventListener('mouseup', function () {
            isDragging = false;
        });
    </script>
</body>
</html>
