@using Instagram_Clone.Interface
@inject IAccountService _accountservice;
@inject IExerciseService _exerciseservice;
@model User
@{
    var LoggedInUser = await _accountservice.GetLoggedInUserAsync();
    var subscriptions = await _exerciseservice.GetSubscriptionsAsync();
    var imagePath = $"~/ProfileImages/{LoggedInUser.ProfileImageFileName}";
    ViewBag.Title = "Fit Zone";
}

<div class="container-fluid mt-5">
    <div class="row">
        <!-- Left side with logo and user image -->
        <div class="col-md-4">
            <div class="text-center mb-4">
                <form method="post" asp-action="UpdateUserProfile" asp-controller="Account" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" asp-for="ProfileImageFileName" name="profileImage" accept="image/*" class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Save Profile</button>
                    </div>
                </form>
            </div>

            <div class="text-center">
                <img src="@Url.Content(imagePath)" class="img-fluid rounded-3"  style="max-width: 400px; height: 300px;">
            </div>
        </div>


        <!-- Right side with user details -->
        <div class="col-md-8">
            <!-- User details -->
            <div class="card">
                <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
                    <span>User Details</span>

                    <img src="~/Images/pixlr-image-generator-458a6518-485b-4637-8964-4b641e7637b3.png" height="40" width="40" class="img-fluid rounded-3 mr-3" alt="Fitzone Logo">

                </div>
                <div class="card-body">
                    <h5 class="card-title">@LoggedInUser.UserName</h5>
                    <p class="card-text"><strong>Age:</strong> 30</p>
                    <p class="card-text"><strong>Height:</strong> 180 cm</p>
                    <p class="card-text"><strong>Weight:</strong> 75 kg</p>
                    <p class="card-text"><strong>Fitness Goal:</strong> Lose Weight</p>
                    <p class="card-text"><strong>Subscription:</strong> @LoggedInUser.HasSubscription</p>

                    
                    @if (LoggedInUser.HasSubscription)
                    {
                        <p class="card-text"><strong>Bought at: </strong>@subscriptions.First().BuyDate </p>

                        <p class="card-text"><strong>Expires at: </strong>@subscriptions.First().ExpireDate </p>
                    }

                    <p class="card-text"><strong>Your daily limit for tracking progress with points as a reward:</strong> @LoggedInUser.DailyLimit</p>
                    <p class="card-text"><strong>Daily limit exceeded:</strong> @LoggedInUser.DailyLimitExceeded</p>


                </div>
            </div>


        </div>
    </div>
</div>
