@model List<Exercise>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="welcome-message p-4">
                <h1 class="display-3">Welcome to <span class="text-danger">FitZone!</span></h1>
                <p class="lead mt-4">Get ready to embark on an exciting fitness journey with FitZone. Whether you're looking to build muscle, lose weight, or improve your overall health, we've got you covered. Our comprehensive range of workouts, nutrition plans, and expert guidance will help you reach your fitness goals effectively. Let's make every sweat count!</p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="~/Images/AI_Generated_Image_2024-03-30_449516500002201.jpg" class="img-fluid rounded-3" style="object-fit:cover;" alt="Fitness Image">
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
        @foreach (var exercise in Model)
        {
            <div class="col">
                <div class="card h-100 border-0 rounded-3 shadow">
                    <img src="@exercise.ExerciseImage" height="220px" style="object-fit:cover;" class="card-img-top" alt="@exercise.ExerciseName">
                    <div class="card-body">
                        <h5 class="card-title">@exercise.ExerciseName</h5>
                        <p class="card-text">
                            <strong>Time:</strong> @exercise.ExerciseTime<br>
                            <strong>Rest Between Exercises:</strong> @exercise.RestBetweenExercises<br>
                            <strong>Reps:</strong> @exercise.ExerciseReps
                        </p>
                        <a asp-action="ExerciseDetailsPage" asp-controller="Exercise" asp-route-ExerciseId="@exercise.Id" class="btn btn-primary">View Exercise</a>
                    </div>
                </div>
            </div>
        }
    </div>



</div>


